.workout-detail-container {
  padding: 4rem;
  text-align: left;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: x-large;
  background: radial-gradient(ellipse at center, #E08900 0%, black 75%);
  background-attachment: fixed;
  min-height: 100vh;
}

.workout-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.exercise-card {
  backdrop-filter: blur(10px);
  border: 1px solid orange;
  color: white;
  background: none;
  position: relative;
  display: inline-block;
  text-align: left;
  width: 100%;
}

.delete-btn {
  background: none;
  border: none;
  color: #d32f2f; /* red for visibility */
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
}

.plus-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: orange;
  color: white;
  border: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.plus-btn:hover {
  background: #e08900;
}

/* Modal Styling */
.modal-overlay1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal1 {
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 8px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal input,
.modal select {
  padding: 10px;
  font-size: 16px;
}

.modal-actions1 {
  display: flex;
  justify-content: space-between;
}

.modal-actions1 button {
  padding: 8px 14px;
  border: none;
  cursor: pointer;
}

.modal-actions1 button:first-child {
  background: orange;
  color: white;
}

.modal-actions1 button:last-child {
  background: gray;
  color: white;
}
